.mrfi {
    width: 100%;
}

.mrfi-inner {
    width: 100%;
    padding: 0 40px;
}

.mrfi-header {
    width: 100%;
    text-align: center;
    padding: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 10px;
}

.mrfi-title {
    margin-left: 220px;
    display: flex;
    gap: 30px;
}

.mrfi-title h2 {
    font-size: 36px;
    font-weight: bold;
    align-content: center;
}

.mrfi-title img {
    width: 30%;
}

.mrfi-header .search input:focus {
    outline: none;
}

.mrfi-header .search input {
    width: 722px;
    height: 62px;
    border: 3px solid #3FB5FF;
    border-radius: 4px 0px 0px 4px;
    padding: 10px;
    margin-left: 40px;
    color: #2c2c2c;
    font-size: 16px;
}

.mrfi-header .search button {
    background: #3FB5FF;
    width: 62px;
    height: 62px;
    position: absolute;
    border-radius: 0px 4px 4px 0px;
}

.mrfi-header .search button img {
    width: 31px;
    filter: invert(100%);
}

/* ================================================================ */

.mrfi-contents {
    display: flex;
    padding: 0 20px;
    /* border: 1px solid #000; */
}

.mrfi-inventory {
    margin-right: 15px;
}

.mrfi-inventory>button {
    width: 200px;
    height: 50px;
    display: flex;
    line-height: 25px;
    align-items: center;
    padding-left: 15px;
    font-size: 16px;
    /* border: 1px solid #000; */
    gap: 10px;
}

.mrfi-inventory button:hover {
    background: #E2E2E2;
    border-radius: 9px;
}

.mrfi-inventory button img {
    width: 20px;
    height: 20px;
}

.mrfi-button {}

.mrfi-button p {
    font-weight: 400;
    font-size: 14px;
    color: #9D9D9D;
}

.mrfi-button button {
    padding: 5px 20px;
    color: #0093EF;
    border-radius: 9px;
    border: 1px solid #0093EF;
}

.Storage-bar {
    width: 160px;
    height: 3px;
    background: #CFCFCF;
}

.Storage-ber-used {
    width: 70px;
    height: 3px;
    background: #8FFF6D;
}

.Storage-capacity {
    width: 170px;
    text-align: right;
    font-size: 14px;
    padding-bottom: 10px;
}

.mrfi-main-header {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 25px;
}
.mrfi-main-header p {
    color: #2C2C2C;
    font-weight: bold;
    font-size: 16px;
}
.mrfi-main-header > img {
    width: 40px;
    height: 40px;
}
.mr-add {
    width: 20px;
    height: 20px;
    border: 1px solid #2c2c2c;
    border-radius: 50%;
    margin-top: 2px;
}
.mr-add img {
    width: 18px;
    height: 18px;
}

/* ================================================== */

.mrfi-file-list {
    width: 100%;
}

.mrfi-file-list .mrfi-file-name:nth-child(2) {
    border-bottom: 1px solid #C4C4C4;
}

.mrfi-file-list .mrfi-file-name:nth-child(1) {
    border-bottom: 1px solid #C4C4C4;
    padding: 0 20px 7px;
}

.mrfi-file-name {
    margin-left: 20px;
    display: flex;
    /* justify-content: space-between; */
}

.mrfi-file-name p {
    font-size: 20px;
    font-weight: bold;
    color: #2C2C2C;
}

.mrfi-file-name p:nth-child(1) {
    width: 440px;
}

.mrfi-file-name p:nth-child(2) {
    width: 300px;
}

.mrfi-file-name p:nth-child(3) {
    width: 200px;
}

.mrfi-file-name p:nth-child(4) {
    width: 190px;
}

.mrfi-file-suggestion {
    margin-top: 10px;
    margin-left: 20px;
    padding: 0 15px 5px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.mrfi-file-suggestion p:nth-child(2) {
    width: 400px;
}

.mrfi-file-suggestion p:nth-child(3) {
    width: 328px;
}

.mrfi-file-suggestion p:nth-child(4) {
    width: 195px;
}

.mrfi-file-suggestion img {
    width: 44px;
    height: 44px;
}

.mrfi-file-suggestion input {
    width: 25px;
    height: 26px;
    margin-top: -6px;
    margin-right: 14px;
    margin-left: 6px;
}

/* ===================================================== */

.mrfi-contents-inner {
    width: 100%;
    display: block;
    padding: 0 20px;
}
.mrfi-file-gather {
    width: 375px;
    display: flex;
    align-items: center;
    gap: 14px;
}

.mrfi-file-gather img {
    width: 38px;
    height: 38px;
}

.mrfi-file-gather p {
    margin-top: -5px;
}

.mrfi-file-img-gather {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: 25px;
}

.mrfi-reroll img {
    width: 32px;
    height: 32px;
}

.mrfi-ooo {
    display: flex;
    flex-direction: column;
    width: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    /* padding: 0 0px 10px 30px; */
    margin-bottom: 6px;
    margin-right: -30px;
}

.mrfi-ooo span {
    font-size: 18px;
    line-height: 9px;
}