.mrfi {
  width: 100%;
}

.mrfi-inner {
  width: 100%;
  padding: 0 40px;
}

.mrfi-header {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 10px;
  text-align: center;
}

.mrfi-title {
  margin-left: 220px;
  display: flex;
  gap: 30px;
}

.mrfi-title h2 {
  font-size: 36px;
  font-weight: bold;
  align-content: center;
}

.mrfi-title img {
  width: 30%;
}

.mrfi-header .search input {
  width: 722px;
  height: 62px;
  margin-left: 40px;
  padding: 10px;
  border: 3px solid #3fb5ff;
  border-radius: 4px 0 0 4px;
  color: #2c2c2c;
  font-size: 16px;
}

.mrfi-header .search input:focus {
  outline: none;
}

.mrfi-header .search button {
  width: 62px;
  height: 62px;
  position: absolute;
  background: #3fb5ff;
  border-radius: 0 4px 4px 0;
}

.mrfi-header .search button img {
  width: 31px;
  filter: invert(100%);
}

.mrfi-contents {
  display: flex;
  padding: 0 20px;
}

.mrfi-inventory {
  margin-right: 15px;
}

.mrfi-inventory button {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 15px;
  font-size: 16px;
  line-height: 25px;
}

.mrfi-inventory button:hover {
  background: #f3f3f3;
  border-radius: 9px;
}

.mrfi-inventory button img {
  width: 20px;
  height: 20px;
}

.mrfi-button p {
  font-weight: 400;
  font-size: 14px;
  color: #9d9d9d;
}

.mrfi-button button {
  padding: 5px 20px;
  color: #0093ef;
  border: 1px solid #0093ef;
  border-radius: 9px;
}

.Storage-bar {
  margin-top: 30px;
  width: 160px;
  height: 3px;
  background: #cfcfcf;
}

.Storage-ber-used {
  width: 70px;
  height: 3px;
  background: #8fff6d;
}

.Storage-capacity {
  width: 170px;
  text-align: right;
  font-size: 14px;
  padding-bottom: 10px;
}

.mrfi-contents-inner {
  width: 100%;
  display: block;
  padding: 0 20px;
}

.mrfi-main-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.mrfi-main-header p {
  color: #2c2c2c;
  font-weight: bold;
  font-size: 16px;
}

.mrfi-main-header > img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.mrfi-file-list {
  width: 100%;
}

.mrfi-file-name {
  margin-left: 20px;
  display: flex;
}

.mrfi-file-list .mrfi-file-name:nth-child(1),
.mrfi-file-list .mrfi-file-name:nth-child(2) {
  border-bottom: 1px solid #c4c4c4;
}

.mrfi-file-list .mrfi-file-name:nth-child(1) {
  padding: 0 20px 7px;
}

.mrfi-file-name p {
  font-size: 20px;
  font-weight: bold;
  color: #2c2c2c;
}

.mrfi-file-name p:nth-child(1) {
  width: 440px;
}

.mrfi-file-name p:nth-child(2) {
  width: 300px;
}

.mrfi-file-name p:nth-child(3) {
  width: 200px;
}

.mrfi-file-name p:nth-child(4) {
  width: 190px;
}

.mrfi-file-suggestion {
  margin-top: 10px;
  margin-left: 20px;
  padding: 0 15px 5px;
  display: flex;
  align-items: center;
}

.mrfi-file-suggestion p:nth-child(2) {
  width: 335px;
}

.mrfi-file-suggestion p:nth-child(3) {
  width: 195px;
}

.mrfi-file-suggestion p:nth-child(4) {
  width: 195px;
}

.mrfi-file-gather {
  width: 415px;
  display: flex;
  align-items: center;
  gap: 14px;
}

.mrfi-file-gather button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mrfi-file-gather img {
  width: 18px;
  height: 18px;
  object-fit: contain;
  flex-shrink: 0;
}

.mrfi-file-gather p {
  margin-top: -5px;
}

.mrfi-file-img-gather {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: 25px;
}

.mrfi-reroll img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.mrfi-ooo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  display: flex;
  flex-direction: column;
  margin-right: -30px;
  margin-bottom: 6px;
}

.mrfi-ooo span {
  font-size: 18px;
  line-height: 9px;
}

.mrfi-folder-link {
  display: block;
  text-decoration: none;
  color: inherit;
}