.mypage-header {
    width: 100%;
    height: 350px;
    /* border: 1px solid black; */
    margin-top: 50px;
    padding: 35px 90px;
    background: linear-gradient(90deg, #ffc568, #AEBCFF 100%);
}

.profile-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mypage-user-profile {
    width: 650px;
    height: 100px;
    background: #FFFFFF;
    /* border: 1px solid black; */
    display: flex;
    border-radius: 50px;
}

.mypage-user-profile img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.mypage-header-inner {
    width: 1550px;
    /* border: 1px solid #000; */
    margin: 0 auto;
}

.mypage-user-name {
    padding: 10px 30px;
}

.mypage-user-name h2 {
    font-weight: bold;
    font-size: 28px;
    color: #2C2C2C;
}

.mypage-user-name p {
    font-weight: bold;
    font-size: 22px;
    color: #2C2C2C;
}

.mypage-user-name p span {
    font-weight: bold;
    font-size: 22px;
    color: #FFBB4E;
}

.user-setting {
    width: 180px;
    height: auto;
    /* border: 1px solid #000; */
    display: block;
    margin-left: auto;
    align-content: center;
}

.setting {
    display: flex;
    align-items: center;

}

.setting img {
    width: 37px;
    height: 37px;
}

.setting button {
    font-weight: bold;
    font-size: 14px;
    color: #2C2C2C;
}

/* ========================================================= */

.change-button-mentor {
    width: 140px;
    height: 54px;
    background-color: #FFC568;
    border-radius: 29px;
    position: relative;
}
.change-button-mentor button {
    width: 83px;
    height: 54px;
    background: #fff;
    border-radius: 29px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    font-weight: bold;
    color: #FFC568;
}

/* ========================================================= */

.user-explanation {
    margin-top: 25px;
}

.user-explanation h3 {
    padding-bottom: 5px;
    padding-left: 15px;
}

.user-explanation p {
    width: 100%;
    height: 120px;
    padding: 10px 20px;
    border-radius: 10px;
    background: #FFFFFF;
    /* border: 1px solid #000; */
}

/* ====================================================== */
.mypage-contents {
    width: 100%;
    height: 100%;
    /* border: 1px solid #000; */
}

.mypage-contents-inner {
    display: flex;
    padding: 10px 45px;
    gap: 30px;
}

/* ======================================================== */
.mypage-community {
    width: 55%;
}

.mypage-contents-inner .mypage-contents-title {
    font-weight: bold;
    font-size: 28px;
    color: #2C2C2C;
    margin-bottom: 20px;
    padding: 0 40px;
}

.mypage-community-contents {
    background: #FFFFFF;
    box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 50%);
    border-radius: 20px;
    padding: 10px;
}

.mypage-community-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding: 0 30px;
    align-content: center;
}

.mypage-community-title h2 {
    font-weight: bold;
    font-size: 24px;
}

.mypage-community-title button {
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    color: #2C2C2C;
}

.mypage-community-title button img {
    width: 45px;
    height: 45px;
}

.mypage-community-main {
    height: 250px;
    padding: 10px;
}

/* ============================================= */
.mypage-data {
    width: 45%;
}
.mypage-data-contents {
    background: #FFFFFF;
    box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 50%);
    border-radius: 20px;
    padding: 10px;
}

.mypage-data-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding: 0 30px;
}

.mypage-data-title h2 {
    font-weight: bold;
    font-size: 24px;
    height: 46px;
    align-content: center;
}

.mypage-data-title button {
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    color: #2C2C2C;
}

.mypage-data-title button img {
    width: 45px;
    height: 45px;
}

.mypage-data-main {
    height: 250px;
    padding: 10px;
}

/* ============================================================== */

.pop-up {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 50%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    /* display: none; */
}
.pop-up-contents {
    width: 680px;
    height: 480px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 17px;
    padding-left: 30px; 
    padding-right: 30px;
    padding-top: 20px;
}
