.mypagerepository {
    width: 100%;
}

.mypagerepository-inner {
    width: 100%;
    padding: 0 40px;
}
.mypagerepository-header {
    width: 100%;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 10px;
}

.mypagerepository-title {
    margin-left: 220px;
    display: flex;
    gap: 30px;
}

.mypagerepository-title h2 {
    font-size: 36px;
    font-weight: bold;
    align-content: center;
}

.mypagerepository-title img {
    width: 30%;
}

.mypagerepository-header .search input:focus {
    outline: none;
}

.mypagerepository-header .search input {
    width: 722px;
    height: 62px;
    border: 3px solid #3FB5FF;
    border-radius: 4px 0px 0px 4px;
    padding: 10px;
    margin-left: 40px;
    color: #2c2c2c;
    font-size: 16px;
}

.mypagerepository-header .search button {
    background: #3FB5FF;
    width: 62px;
    height: 62px;
    position: absolute;
    border-radius: 0px 4px 4px 0px;
}

.mypagerepository-header .search button img {
    width: 31px;
    filter: invert(100%);
}

/* ================================================================ */

.mypagerepository-contents {
    display: flex;
    padding: 0 20px;
    /* border: 1px solid #000; */
}
.mypagerepository-inventory {
    margin-right: 15px;
}
.mypagerepository-inventory>button {
    width: 200px;
    height: 50px;
    display: flex;
    line-height: 25px;
    align-items: center;
    padding-left: 15px;
    font-size: 16px;
    /* border: 1px solid #000; */
    gap: 10px;
}

.mypagerepository-inventory button:hover {
    background: #E2E2E2;
    border-radius: 9px;
}

.mypagerepository-inventory button img {
    width: 20px;
    height: 20px;
}

.mypagerepository-button {}

.mypagerepository-button p {
    font-weight: 400;
    font-size: 14px;
    color: #9D9D9D;
}

.mypagerepository-button button {
    padding: 5px 20px;
    color: #0093EF;
    border-radius: 9px;
    border: 1px solid #0093EF;
}

.Storage-bar {
    width: 160px;
    height: 3px;
    background: #CFCFCF;
}

.Storage-ber-used {
    width: 70px;
    height: 3px;
    background: #8FFF6D;
}
.Storage-capacity {
    width: 170px;
    text-align: right;
    font-size: 14px;
    padding-bottom: 10px;
}

/* ==================================================================== */

.mypagerepository-main {
    width: auto;
    height: 300px;
    /* border: 1px solid #000; */
}
.mypagerepository-main-header {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 25px;
}
.mypagerepository-main-header p {
    color: #2C2C2C;
    font-weight: bold;
    font-size: 16px;
}
.mypagerepository-main-header > img {
    width: 40px;
    height: 40px;
}
.mypagerepository-main-body {
    display: flex;
    gap: 20px;
}
.mypagerepository-main-body-inner {
    position: relative;
}
.mypagerepository-bg {
    width: 180px;
    height: 140px;
}
.mypagerepository-bg:hover {
    background: #E6E6E6;
    border-radius: 10px;
    width: 180px;
    height: 140px;
}
.mypagerepository-bg img {
    width: 140px;
    height: 100px;
}
.mypagerepository-bg p {
    font-weight: bold;
    font-size: 16px;
    color: #2C2C2C;
}
.mypagerepository-span {
    display: flex;
    flex-direction: column;
    width: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 30px 5px 0;
}
.mypagerepository-span span {
    font-size: 15px;
    line-height: 8px;
}

/* ================================================ */

.mypagerepository-file-bottom {
    width: 100%;
    height: 300px;
    /* border: 1px solid #000; */
}
.mypagerepository-bottom {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 25px;
}
.mypagerepository-bottom p {
    color: #2C2C2C;
    font-weight: bold;
    font-size: 16px;
}
.mypagerepository-bottom > img {
    width: 40px;
    height: 40px;
}
.mypagerepository-file-list {
    width: 1300px;
}
.mypagerepository-file-list .mypagerepository-file-name:nth-child(1) {
    border-bottom: 1px solid #C4C4C4;
    padding: 0 20px 7px;
}
.mypagerepository-file-name {
    margin-left: 20px;
    display: flex;
    /* justify-content: space-between; */
}
.mypagerepository-file-name p:nth-child(1) {
    width: 400px;
}
.mypagerepository-file-name p:nth-child(2) {
    width: 300px;
}
.mypagerepository-file-name p:nth-child(3) {
    width: 200px;
}
.mypagerepository-file-name p:nth-child(4) {
    width: 190px;
}
.mypagerepository-file-name p {}
.mypagerepository-file-suggestion {
    margin-top: 10px;
    margin-left: 20px;
    padding: 0 15px 5px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.mypagerepository-file-suggestion p:nth-child(2) {
    width: 330px;
}
.mypagerepository-file-suggestion p:nth-child(3) {
    width: 200px;
}
.mypagerepository-file-suggestion p:nth-child(4) {
    width: 190px;
}

.mypagerepository-file-gather {
    width: 375px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.mypagerepository-file-suggestion img {
    width: 38px;
    height: 38px;
}

/* ===================================================== */

.mypagerepository-file-img-gather {
    position: relative;
    display: flex;
}
.mypagerepository-file-img-gather button {}
.mypagerepository-file-img-gather button:nth-child(2) {
    margin-left: 16px;
    margin-right: 16px;
}
.mypagerepository-file-img-gather img {}
.mypagerepository-download img {
    width: 42px;
    height: 42px;
}
.mypagerepository-pan img {
    width: 33px;
    height: 33px;
}
.mypagerepository-star img {
    width: 34px;
    height: 34px;
}
.mypagerepository-ooo {
    display: flex;
    flex-direction: column;
    width: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    /* padding: 0 0px 10px 30px; */
    margin-bottom: 10px;
    margin-right: -30px;
}
.mypagerepository-ooo span {
    font-size: 18px;
    line-height: 9px;
}

.mr-add {
    width: 20px;
    height: 20px;
    border: 1px solid #2c2c2c;
    border-radius: 50%;
    margin-top: 2px;
}
.mr-add img {
    width: 18px;
    height: 18px;
}