.mypagementy-header {
    width: 100%;
    height: 350px;
    /* border: 1px solid black; */
    margin-top: 50px;
    padding: 35px 90px;
    background: linear-gradient(90deg, #AEBCFF, #C7EFC2 100%);
}
.profile-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mypagementy-user-profile {
    width: 650px;
    height: 100px;
    background: #FFFFFF;
    /* border: 1px solid black; */
    display: flex;
    border-radius: 50px;
}

.mypagementy-user-profile img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.mypagementy-header-inner {
    width: 1550px;
    /* border: 1px solid #000; */
    margin: 0 auto;
}

.mypagementy-user-name {
    padding: 10px 30px;
}

.mypagementy-user-name h2 {
    font-weight: bold;
    font-size: 28px;
    color: #2C2C2C;
}

.mypagementy-user-name p {
    font-weight: bold;
    font-size: 22px;
    color: #2C2C2C;
}

.mypagementy-user-name p span {
    font-weight: bold;
    font-size: 22px;
    color: #8CE370;
}

.menty-setting {
    width: 180px;
    height: auto;
    /* border: 1px solid #000; */
    display: block;
    margin-left: auto;
    align-content: center;
}

.setting {
    display: flex;
    align-items: center;

}

.setting img {
    width: 37px;
    height: 37px;
}

.setting {
    font-weight: bold;
    font-size: 14px;
    color: #2C2C2C;
}

/* ========================================================= */

.change-button-mentee {
    width: 140px;
    height: 54px;
    background: #8CE370;
    border-radius: 29px;
    position: relative;
}
.change-button-mentee button {
    width: 83px;
    height: 54px;
    background: #fff;
    border-radius: 29px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    font-weight: bold;
    color: #8CE370;
}

/* ========================================================= */

.menty-explanation {
    margin-top: 25px;
}

.menty-explanation h3 {
    padding-bottom: 5px;
    padding-left: 15px;
}

.menty-explanation p {
    width: 100%;
    height: 120px;
    padding: 10px 20px;
    border-radius: 10px;
    background: #FFFFFF;
    /* border: 1px solid #000; */
}

/* ====================================================== */
.mypagementy-contents {
    width: 100%;
    height: 100%;
    /* border: 1px solid #000; */
}

.mypagementy-contents-inner {
    display: flex;
    padding: 35px 45px;
    gap: 30px;
}

/* ======================================================== */
.mypagementy-community {
    width: 55%;
}

.mypagementy-contents-inner .mypagementy-contents-title {
    font-weight: bold;
    font-size: 28px;
    color: #2C2C2C;
    margin-bottom: 20px;
    padding: 0 40px;
}

.mypagementy-community-contents {
    background: #FFFFFF;
    box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 50%);
    border-radius: 20px;
    padding: 10px;
}

.mypagementy-community-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding: 0 30px;
    align-content: center;
}

.mypagementy-community-title h2 {
    font-weight: bold;
    font-size: 24px;
}

.mypagementy-community-title button {
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    color: #2C2C2C;
}

.mypagementy-community-title button img {
    width: 45px;
    height: 45px;
}

.mypagementy-community-main {
    height: 250px;
    padding: 10px;
}

/* ============================================= */
.mypagementy-data {
    width: 45%;
}
.mypagementy-data-contents {
    background: #FFFFFF;
    box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 50%);
    border-radius: 20px;
    padding: 10px;
}

.mypagementy-data-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding: 0 30px;
}

.mypagementy-data-title h2 {
    font-weight: bold;
    font-size: 24px;
    height: 46px;
    align-content: center;
}

.mypagementy-data-title button {
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    color: #2C2C2C;
}

.mypagementy-data-title button img {
    width: 45px;
    height: 45px;
}

.mypagementy-data-main {
    height: 250px;
    padding: 10px;
}