.mypagerepositorydelete {
    width: 100%;
}

.mypagerepositorydelete-inner {
    width: 100%;
    padding: 0 40px;
}

.mypagerepositorydelete-header {
    width: 100%;
    text-align: center;
    padding: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 10px;
}

.mypagerepositorydelete-title {
    margin-left: 220px;
    display: flex;
    gap: 30px;
}

.mypagerepositorydelete-title h2 {
    font-size: 36px;
    font-weight: bold;
    align-content: center;
}

.mypagerepositorydelete-title img {
    width: 30%;
}

.mypagerepositorydelete-header .search input:focus {
    outline: none;
}

.mypagerepositorydelete-header .search input {
    width: 722px;
    height: 62px;
    border: 3px solid #3FB5FF;
    border-radius: 4px 0px 0px 4px;
    padding: 10px;
    margin-left: 40px;
    color: #2c2c2c;
    font-size: 16px;
}

.mypagerepositorydelete-header .search button {
    background: #3FB5FF;
    width: 62px;
    height: 62px;
    position: absolute;
    border-radius: 0px 4px 4px 0px;
}

.mypagerepositorydelete-header .search button img {
    width: 31px;
    filter: invert(100%);
}

/* ================================================================ */

.mypagerepositorydelete-contents {
    display: flex;
    padding: 0 20px;
    /* border: 1px solid #000; */
}

.mypagerepositorydelete-inventory {
    margin-right: 15px;
}

.mypagerepositorydelete-inventory>button {
    width: 200px;
    height: 50px;
    display: flex;
    line-height: 25px;
    align-items: center;
    padding-left: 15px;
    font-size: 16px;
    /* border: 1px solid #000; */
    gap: 10px;
}

.mypagerepositorydelete-inventory button:hover {
    background: #E2E2E2;
    border-radius: 9px;
}

.mypagerepositorydelete-inventory button img {
    width: 20px;
    height: 20px;
}

.mypagerepositorydelete-button {}

.mypagerepositorydelete-button p {
    font-weight: 400;
    font-size: 14px;
    color: #9D9D9D;
}

.mypagerepositorydelete-button button {
    padding: 5px 20px;
    color: #0093EF;
    border-radius: 9px;
    border: 1px solid #0093EF;
}

.Storage-bar {
    width: 160px;
    height: 3px;
    background: #CFCFCF;
}

.Storage-ber-used {
    width: 70px;
    height: 3px;
    background: #8FFF6D;
}

.Storage-capacity {
    width: 170px;
    text-align: right;
    font-size: 14px;
    padding-bottom: 10px;
}

/* ==================================================================== */
.mypagerepositorydelete-contents-inner {
    width: 100%;
    display: block;
    padding: 0 20px;
}

.mypagerepositorydelete-top {
    width: 100%;
    height: 50px;
    border-radius: 11px;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background: #D9D9D9;
}

/* .mypagerepositorydelete-top:hover {
    background: #D9D9D9;
} */
.mypagerepositorydelete-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.mypagerepositorydelete-left button {}

.mypagerepositorydelete-left img {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.mypagerepositorydelete-left p {
    color: #7C7C7C;
    font-size: 16px;
    font-weight: 400;
}

.mypagerepositorydelete-right {}

.mypagerepositorydelete-right button {
    width: 110px;
    height: 33px;
    color: #0093EF;
    background: #F3F3F3;
    border-radius: 9px;
}

.mypagerepositorydelete-right button:hover {
    color: #0093EF;
    background: #F3F3F3;
}

.mypagerepositorydelete-right button:nth-child(1) {
    margin-right: 10px;
}

/* ===================================================== */

.mypagerepositorydelete-center {
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
}

.mypagerepositorydelete-center input {
    width: 22px;
    height: 24px;
    margin-right: 15px;
}

.mypagerepositorydelete-center p {
    font-weight: bold;
    font-size: 16px;
    color: #2C2C2C;
}

/* ==================================================== */

.mypagerepositorydelete-bottom {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

.mypagerepositorydelete-bottom p {
    color: #2C2C2C;
    font-weight: bold;
    font-size: 16px;
}

.mypagerepositorydelete-bottom>img {
    width: 40px;
    height: 40px;
}

/* =========================================================== */

.mypagerepositorydelete-file-list {
    width: 100%;
}

.mypagerepositorydelete-file-list .mypagerepositorydelete-file-name:nth-child(1) {
    border-bottom: 1px solid #C4C4C4;
    padding: 0 20px 7px;
}

.mypagerepositorydelete-file-name {
    margin-left: 20px;
    display: flex;
    /* justify-content: space-between; */
}

.mypagerepositorydelete-file-name p {
    font-size: 20px;
    font-weight: bold;
    color: #2C2C2C;
}

.mypagerepositorydelete-file-name p:nth-child(1) {
    width: 440px;
}

.mypagerepositorydelete-file-name p:nth-child(2) {
    width: 300px;
}

.mypagerepositorydelete-file-name p:nth-child(3) {
    width: 200px;
}

.mypagerepositorydelete-file-name p:nth-child(4) {
    width: 190px;
}

.mypagerepositorydelete-file-suggestion {
    margin-top: 10px;
    margin-left: 20px;
    padding: 0 15px 5px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.mypagerepositorydelete-file-suggestion p:nth-child(2) {
    width: 400px;
}

.mypagerepositorydelete-file-suggestion p:nth-child(3) {
    width: 328px;
}

.mypagerepositorydelete-file-suggestion p:nth-child(4) {
    width: 195px;
}

.mypagerepositorydelete-file-suggestion img {
    width: 44px;
    height: 44px;
}

.mypagerepositorydelete-file-suggestion input {
    width: 25px;
    height: 26px;
    margin-top: -6px;
    margin-right: 14px;
    margin-left: 6px;
}

/* ===================================================== */

.mypagerepositorydelete-file-gather {
    width: 375px;
    display: flex;
    align-items: center;
    gap: 14px;
}

.mypagerepositorydelete-file-gather img {
    width: 38px;
    height: 38px;
}

.mypagerepositorydelete-file-gather p {
    margin-top: -5px;
}

.mypagerepositorydelete-file-img-gather {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: 25px;
}

.mypagerepositorydelete-reroll img {
    width: 32px;
    height: 32px;
}

.mypagerepositorydelete-ooo {
    display: flex;
    flex-direction: column;
    width: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    /* padding: 0 0px 10px 30px; */
    margin-bottom: 6px;
    margin-right: -30px;
}

.mypagerepositorydelete-ooo span {
    font-size: 18px;
    line-height: 9px;
}

/* ======================================================= */