.community-text {
    margin: 0 auto;
    width: 98%;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.community-text p {
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
.community-text span {
    font-size: 16px;
    font-weight: 400;
    color: #000;
}