.profile-setting-header {
    height: 50px;
    display: flex;
    border-bottom: 2px solid #C4C4C4;
}
.profile-setting-header img {
    width: 50px;
    height: 50px;
}
.profile-setting-set {
    display: flex;
    gap: 40px;
    padding-top: 20px;
}
/* profile-setting-list */
.profile-setting-list {
    width: 95px;
    height: 32px;
    background: #D9D9D9;
    border-radius: 16px;
    text-align: center;
}
.profile-setting-list button {
    font-size: 20px;
    font-weight: 600;
    color: #2C2C2C;
}

/* .profile-setting-contents  */
.profile-setting-contents {
    padding-top: 20px;
}
.profile-setting-contents input {
    border: 1px solid #2C2C2C;
    border-radius: 5px;
}
.profile-setting-contents .profile {
    display: flex;
    gap: 30px;
}
.profile-setting-contents .nickname {
    display: flex;
    gap: 30px;
    padding: 40px 0;
}
.profile-setting-contents .nickname > input {
    width: 230px;
    height: 42px;
}
.profile-setting-contents .information {
    display: flex;
    gap: 30px;
}
.profile-setting-contents .information > input {
    width: 280px;
    height: 120px;
}
/* 확인 버튼 */
.profile-setting-check {
    width: 75px;
    height: 37px;
    background: #65BAED;
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    bottom: 15px;
    right: 22px;   
}