.profile-setting-header {
    height: 50px;
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
    border-bottom: 2px solid #C4C4C4;
}
.profile-setting-header img {
    width: 25px;
    height: 25px;
}
.profile-setting-set {
    display: flex;
    gap: 40px;
    padding-top: 20px;
}
/* profile-setting-list */
.profile-setting-list {
    width: 95px;
    height: 32px;
    background: #D9D9D9;
    border-radius: 16px;
    text-align: center;
}
.profile-setting-list button {
    font-size: 20px;
    font-weight: 600;
    color: #2C2C2C;
}

/* .profile-setting-contents  */
.profile-setting-contents {
    padding-top: 20px;
}
.profile-setting-contents input {
    border: 1px solid #2C2C2C;
    border-radius: 5px;
}
.profile-setting-contents .profile {
    display: flex;
    align-items: center;
    margin-top: -10px;
    gap: 30px;
}
.profile-setting-contents .profile img {
    width: 85px;
    height: 85px;
    border-radius: 50px;
}
.profile-setting-contents .nickname {
    display: flex;
    gap: 30px;
    padding: 30px 0;
}
.profile-setting-contents .nickname > input {
    width: 230px;
    height: 42px;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid #B4B4B4;
    font-weight: bold;
}
.profile-setting-contents .information {
    display: flex;
    gap: 30px;
}
.profile-setting-contents .information > textarea {
    width: 300px;
    height: 120px;
    resize: none;
    border: 1px solid #B4B4B4;
    border-radius: 4px;
    outline: none;
    padding: 10px;
    font-size: 16px;
}
/* 확인 버튼 */
.profile-setting-check {
    width: 75px;
    height: 37px;
    background: #65BAED;
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    bottom: 15px;
    right: 22px;   
}